<div class="row">
	{{#each user_reports.facets}}
	<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-heading text-center">
		    <h3 class="panel-title">
		    	{{humanize @key}}
		    </h3>
		  </div>
	    <table class="table">
	    	{{#each terms}}
	    	<tr>
	    		<th>{{count}}</th>
	    		<td>{{term}}</td>
	    	</tr>
	    	{{/each}}
	    </table>
	    <div class="panel-footer text-center">
	    	<b>{{total}}</b>Total
				/
	    	<b>{{missing}}</b> Missing
	    	/
	    	<b>{{other}}</b> Other
	    </div>
		</div>
	</div>
	{{/each}}
</div>
