<html>
<head>
  <title>Hull Components - {{options.sourceName}} - version: {{options.version}}</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//hull-js.s3.amazonaws.com/{{config.version}}/hull.debug.js"></script>
  <script>
  	Hull.init({{{initConfig}}});
  </script>
</head>
<body>
	<div class="container">
		<div data-hull-component="facets" data-hull-namespace='ugc' data-hull-terms="app_names,main_identity"></div>
	</div>
</body>
</html>
